:root {
  --warm-white: #e9f0ff;
  --primary-color: #3047d2;
  --secondary-color: #1d2b51;
  --white-color: #fff;
  --gray-color: #979797;
  --light-gray-color: #e4e4e4;
  --primary-text-color: #1c2950;
  --bg-color: #f9fbfd;
  --active-nav-li-color: hsl(221, 85%, 95%);
  --subscribe-input-bg: #1d2b51;

  // Header linear gradient
  --header-gradient-color-1: hsl(219, 83%, 93%);
  --header-gradient-color-2: hsl(219, 83%, 96%);
  --header-gradient-color-3: hsl(219, 83%, 97%);

  // Orbit border color
  --shade-of-gray-1: rgba(0, 0, 0, 0.05);

  // Form container
  --shade-of-white-1: #f3f4f5;
  --shade-of-white-2: #f3f5fd;
  --input-bg-color: #fafbfe;
  --input-placeholder-color: #a7afbe;

  --scrollbarBG: var(--light-gray-color);
  --thumbBG: var(--bg-color);
}
.dark {
  --warm-white: #2a2626;
  --primary-color: #bb7ffb;
  --secondary-color: #31a399;
  --white-color: #161616;
  --gray-color: #979797;
  --light-gray-color: #e4e4e4;
  --primary-text-color: #eee;
  --bg-color: #121212;
  --active-nav-li-color: hsl(0, 0%, 0%);
  --subscribe-input-bg: hsl(224, 75%, 65%);

  --scrollbarBG: var(--input-bg-color);
  --thumbBG: var(--bg-color);

  // Header linear gradient
  --header-gradient-color-1: hsl(0, 0%, 15%);
  --header-gradient-color-2: hsl(0, 0%, 25%);
  --header-gradient-color-3: hsl(0, 0%, 30%);

  // Orbit border color
  --shade-of-gray-1: rgba(255, 255, 255, 0.05);

  // Form container
  --shade-of-white-1: #7e7e7e;
  --shade-of-white-2: #242424;
  --input-bg-color: #2d2d2d;
  --input-placeholder-color: #b4b2b6;

  .popular-item {
    background: var(--shade-of-white-2) !important;
  }
}

// --- Font color ---
.fc-gray {
  color: var(--gray-color);
}
